body {
    background-color: #181818;
    margin: 0;
}

.container {
    position: relative;
    margin: 0 auto;
    max-width: 600px;
}

.book {
    position: relative;
    display: flex;
    align-items: center;
    background-color: white;
    margin: 40px auto;
    height: 830px;
    max-width: 600px;
    border-radius: 20px;
    overflow: auto;
    transition: box-shadow 0.4s ease-in-out;
}

.book:focus-within {
    box-shadow: 0 0 50px 1px #d3d3d3;
}

.date {
    position: absolute;
    font-family: 'Marck Script', cursive;
    font-size: 23px;
    top: 1%;
    right: 4%;
}

.date input {
    background: transparent;
    border: 0;
    outline: 0;
    width: 120px;
    text-align: right;
    font-family: 'Marck Script', cursive;
    font-size: 20px;
}

.punchholes {
    margin-left: 15px;
}

.punchholes div {
    margin: 20px 0px;
    background-color: #181818;
    height: 15px;
    width: 15px;
    border-radius: 100px;
}

#my-text-area {
    margin-top: 7px;
    margin-bottom: 15px;
    background: url(images/row.png) repeat;
    font-family: 'Marck Script', cursive;
    font-size: 27px;
    background-color: transparent;
    resize: none;
    margin-left: 12px;
    overflow: hidden;
    border: none;
    outline: none;
}

.flipbtn button {
    transition: box-shadow 0.2s ease-in-out;
    border: 0;
    border-radius: 100px;
    height: 70px;
    width: 70px;
}

.flipbtn button:hover {
    cursor: pointer;
    box-shadow: 0 0 20px 1px #d3d3d3;
}

.flipbtn button:active {
    background-color: rgb(207, 207, 207);
}

#left-arrow {
    margin: auto 6px;
    width: 0;
    height: 0;
    border-top: 21px solid transparent;
    border-bottom: 21px solid transparent;
    border-right: 35px solid black;
}

#right-arrow {
    margin: auto 16px;
    width: 0;
    height: 0;
    border-top: 21px solid transparent;
    border-bottom: 21px solid transparent;
    border-left: 35px solid black;
}

#flip-left {
    position: absolute;
    display: flex;
    top: 10%;
    right: -120px;
}

#flip-right {
    position: absolute;
    display: flex;
    top: 10%;
    right: -200px;
}

.delbtn button {
    transition: box-shadow 0.2s ease-in-out;
    border: 0;
    border-radius: 100px;
    height: 70px;
    width: 70px;
}

.delbtn button:hover {
    cursor: pointer;
    box-shadow: 0 0 20px 1px #d3d3d3;
}

.delbtn button:active {
    background-color: rgb(207, 207, 207);
}

#del-page {
    position: absolute;
    display: flex;
    background-image: url("images/trash.png");
    background-size: 75%;
    background-position: center;
    background-repeat: no-repeat;
    top: 20%;
    right: -120px;
}

#del-empty {
    position: absolute;
    display: flex;
    background-image: url("images/broom.png");
    background-size: 70%;
    background-position: 6px;
    background-repeat: no-repeat;
    top: 20%;
    right: -200px;
}

#page-number {
    position: absolute;
    outline: 0;
    border: 0;
    bottom: 1%;
    left: 50%;
    transform: translateX(-50%);
    font-family: 'Marck Script', cursive;
    font-size: 27px;
    text-align: center;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}
.searchOptions input {
    position: absolute;
    display: flex;
    font-family: 'Google Sans', sans-serif;
    font-weight: 400;
    font-size: 18px;
    background-color: #303030;
    padding-left: 20px;
    padding-right: 70px;
    text-align: left;
    color: #E3E3E3;
    border: 0;
    border-radius: 100px;
    outline: 0;
    height: 45px;
    width: 345px;
    left: -540px;
}

.searchOptions input:focus {
    background-color: #404040;
}

#search-page {
    top: 10%;
}

#search-date {
    top: 18%;
}

#search-text {
    top: 26%;
}

.searchOptions h1 {
    position: absolute;
    display: flex;
    font-family: Google Sans, Helvetica Neue, sans-serif;
    font-weight: 500;
    font-size: 20px;
    color: white;
    text-align: center;
    border: 0;
    border-radius: 20px;
    top: 31%;
    left: -350px;
}

#search-result {
    position: absolute;
    display: flex;
    resize: none;
    background-color: #303030;
    color: white;
    font-family: Google Sans, Helvetica Neue, sans-serif;
    font-weight: 500;
    font-size: 20px;
    text-align: left;
    padding: 7px;
    border: 0;
    border-radius: 20px;
    top: 37%;
    left: -540px;
    height: 300px;
    width: 417px;
    border-radius: 10px;
    outline: 0;
}

.searchOptions button {
    position: absolute;
    display: flex;
    background-color: transparent;
    background-image: url("images/search.png");
    background-repeat: no-repeat;
    background-position: 4.5px 6px;
    background-size: 70%;
    border: 0;
    border-radius: 100px;
    outline: 0;
    height: 45px;
    width: 45px;
    left: -160px;
}

.searchOptions button:hover {
    cursor: pointer;
    background-color: #5a5a5a;
}

.searchOptions button:active {
    background-color: rgb(153, 153, 153);
}

#submit-page {
    top: 10%;
}

#submit-date {
    top: 18%;
}

#submit-text {
    top: 26%;
}